@import '/node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #1C1C1C;
}

footer {
    height: 420px;
    background-image: url(../public/img/footer-bg.jpg);
    background-size: cover;
}

.cont-comics {
    max-width: 1200px;
    margin: 0 auto;
}